@{
    ViewData["Title"] = "Resultado";
}

<div class="text-center">
    <h1>Resultado da @ViewBag.Operacao</h1>
    <p>
        A @ViewBag.Operacao do número @ViewBag.Numero1 com @ViewBag.Numero2 será @ViewBag.Resultado
    </p>
</div>
